datacenter = "{{ name_data_center}}"
data_dir = "{{opt_consul}}"
encrypt =  "{{ encryption_key}}"

#This can be placed the  the consul.hcl. This allows to highest performance
performance {
  raft_multiplier = 1
 }

