server={{true_or_false}}
bootstrap_expect={{number_of_servers}}
ui={{enable_ui}}
client_addr="0.0.0.0"
bind_addr="{{bind_addr}}"
retry_join={{array_ips}} 
log_level="{{logging_verbosity}}"
retry_join = {{array_ips}} 
log_level = {{logging_verbosity}}


#acl = {
#    enabled = true,
#    default_policy = “allow”,
#    down_policy = “extend-cache”,
#    tokens = {
#           master = “workthistime”
#    }
#}


autopilot = {
        cleanup_dead_servers      = {{ cleanup_dead_servers }} 
        last_contact_threshold    = {{ last_contact_threshold }}
        max_trailing_logs         = {{ max_trailing_logs }}
        server_stabilization_time = {{ server_stabilization_time }}
        redundancy_zone_tag       = {{ redundancy_zone_tag }}
        disable_upgrade_migration = {{ disable_upgrade_migration }}
        upgrade_version_tag       = {{ upgrade_version_tag }}
}

node_meta = { },
connect = {
         enabled = true
}

